<!DOCTYPE HTML>
<!--
	Venus Framework by NIMIX3 free under the MIT license.
	Download latest version from github https://github.com/nimix3/Venus
	This demo template by templated.co released for free under the Creative Commons Attribution 3.0 license.
-->
<html>
	<head>
		<title>Venus Framework</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="/">Venus Framework {{version}}</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="https://github.com/nimix3/Venus">Github</a></li>
					<li><a href="https://github.com/nimix3/Venus/graphs/contributors">Authors</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<img src="assets/images/venus.png" width="22%" max-width="224px" height="22%" max-height="224px" alt="Venus Framework">
					<h1>Venus Framework</h1>
					<p>Secure, lightweight & rapid web development framework<br />
					created by <a href="https://nimix3.com">NIMIX3</a> and released free under the MIT License.<br /><a href="https://github.com/nimix3/Venus/archive/master.zip">Download latest from Github</a></p>
				</div>
				<video autoplay loop muted playsinline src="assets/images/banner.mp4"></video>
			</section>

		<!-- Highlights -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>All in One PHP framework</h2>
						<p>Complete solution for building high performance and high secure Websites, Web Applications, Web Services and CMS</p>
					</header>
					<div class="highlights">
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-vcard-o"><span class="label">Icon</span></a>
									<h3>High Compability</h3>
								</header>
								<p>This framework is built to work with all operating systems and PHP versions with minimum requirements. It can smartly consider using available PHP modules first</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-files-o"><span class="label">Icon</span></a>
									<h3>Modular</h3>
								</header>
								<p>This framework is module based and have some types of module system and code refactoring methodology, we introduce Plugin system as well as library and structures</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-floppy-o"><span class="label">Icon</span></a>
									<h3>Complete Solution</h3>
								</header>
								<p>It has more than 26 core libraries and more than 14 extra libraries that can handle near all needs for web development. It is MVC based and you can also add every libraries you want</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-line-chart"><span class="label">Icon</span></a>
									<h3>Scalable</h3>
								</header>
								<p>This can be grown to high scale usages such as enterprises or organizations, the standard and simple structure helps extending it easily</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-paper-plane-o"><span class="label">Icon</span></a>
									<h3>Easy Deploy</h3>
								</header>
								<p>No any trouble to download and deploy this framework, This is real cost effective solution because it can save lots of time to deploy and migrate from host to host or local to server deployments</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-qrcode"><span class="label">Icon</span></a>
									<h3>Open Source</h3>
								</header>
								<p>It is free as in freedom, you can download,edit,publish or use it free under MIT license, we encourage you not to remove using Venus Framework</p>
							</div>
						</section>
					</div>
				</div>
			</section>

		<!-- CTA -->
			<section id="cta" class="wrapper">
				<div class="inner">
					<h2>Developers and Security Experts</h2>
					<p>We suggest you to help us create newer, powerful and secure version of Venus Framework as a Venus Framework developer, also we invite all administrators and investors to help us growning Venus Framework</p>
				</div>
			</section>

		<!-- Testimonials -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>Developers and Community</h2>
						<p>Some qoutes from Venus framework developers, community users or development team shown below</p>
					</header>
					<div class="testimonials">
						<section>
							<div class="content">
								<blockquote>
									<p>Feel free to send your recommandations and suggestions to us for making Venus framework better and better, we love your reviews</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="assets/images/pic01.jpg" alt="" />
									</div>
									<p class="credit">- <strong>Nima Akhlaghi</strong></strong> <span>Creator - Venus Framework Team.</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>A flexible framework that in addition to developing your application with high quality,
									will help you to save your time and your money and focus on being the best</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="assets/images/pic03.jpg" alt="" />
									</div>
									<p class="credit">- <strong>Maryam Mardani</strong> <span>Developer - Venus Framework Team.</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>We use venus framework for our company website and it works like a charm. our website developers create many parts easily and fast</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="assets/images/pic02.jpg" alt="" />
									</div>
									<p class="credit">- <strong>Dhruv Bhatti</strong> <span>CTO - Bhatti Systems Inc.</span></p>
								</div>
							</div>
						</section>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						<section>
							<h3>About Venus Framework</h3>
							<p>We found out that we need a robust, easy, rapid and complete PHP framework to build websites and web applications with minimum requirements in less time. We are eager to build a lot of things, but we are human beings and the time is limited and our creativity and ideas can be wasted. That's because we create Venus Framework. we want that every developer can create his own ideas with spending less time and energy.</p>
						</section>
						<section>
							<h4>Useful links</h4>
							<ul class="alt">
								<li><a href="https://php.net">PHP foundation</a></li>
								<li><a href="https://VenusFramework.ir">Venus Framework</a></li>
								<li><a href="https://opensource.org/licenses/MIT">MIT License</a></li>
								<li><a href="https://opensource.org">Open source</a></li>
							</ul>
						</section>
						<section>
							<h4>We are social</h4>
							<ul class="plain">
								<li><a href="https://twitter.com/VenusFramework"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
								<li><a href="https://facebook.com/VenusFramework"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
								<li><a href="https://instagram.com/VenusFramework"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
								<li><a href="https://github.com/nimix3/Venus"><i class="icon fa-github">&nbsp;</i>Github</a></li>
							</ul>
						</section>
					</div>
					<div class="copyright">
						&copy; Venus Framework by <a href="https://nimix3.com">NIMIX3</a>, released free on <a href="https://github.com/nimix3/Venus">Github</a> under MIT license.
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>